@using Show_Me_The_Way_Arnold.Models

@if (WorkoutRoutineExercisesModel?.WorkoutRoutineHasExercises is not null && WorkoutRoutineExercisesModel.WorkoutRoutineHasExercises.Any())
{
    <MatButton Outlined="true" style="width: 100%" OnClick="@(() => HideExercises = !HideExercises)">@(HideExercises ? "Show Exercises" : "Hide Exercises")</MatButton>
    <div hidden="@HideExercises">
        @foreach (var exercise in WorkoutRoutineExercisesModel.WorkoutRoutineHasExercises)
        {
            <MatCard Class="mat-card">
                <MatCardContent>
                    <div class="mat-headline">
                        <strong>@exercise.Exercise.Name</strong>
                    </div>
                    <div style="margin: 2px;">Sets: @exercise.Sets</div>
                    <div style="margin: 2px;">Repetitions per set: @exercise.Repetitions</div>
                </MatCardContent>
            </MatCard>
        }
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public WorkoutRoutine? WorkoutRoutineExercisesModel { get; set; }
    
    private bool HideExercises { get; set; } = true;
}